.topo{
    width: 100%;
    margin: 0;

}

.topoComponent{
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.imagemTopo{
    width: 187px;
    height: 50px;
}

.nav{
    width: 80%;
}


.nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-decoration: none;
}

.nav ul li{
    display: flex;
    margin-right: 20px;
    text-decoration: none;
}

.nav ul li a{
    color: #000000;
    text-decoration: none;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.modal{
    display: none;
}

.menuBotao{
    display: none;
    width: 80%;
    justify-content: flex-end;
}


.abrir{
    width: 30px;
    height: 30px;
}

@media (max-width: 600px) {

    .nav{
        display: none;
    }

    .menuBotao{
        display: flex;
        width: 80%;
        justify-content: flex-end;
    }
    
    .modal{
        display: block;
    }

    .modal ul{
        width: 200px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-decoration: none;
        position: absolute;
        top: 90px;
        right: -13%;

    }

    .modal ul li{
        display: flex;
        text-decoration: none;
    }

    .modal ul li a{
        color: #000000;
        text-decoration: none;
        padding: 10px;
        width: 100%;
    }

    .modal ul li a:hover{
        text-decoration: underline;
        background-color: #b1abab;
    }

}


