.secaoSobre{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 100px 20px;
}

.cardSobre{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.titulos{
    text-align: center;
    margin-bottom: 40px;

}

.titulos h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.titulos p{
    max-width: 1024px;
    font-size: 19px;
    margin-bottom: 10px;
    text-align:justify;
}


.cards{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    max-height: 300px;
    text-align: center;
    box-shadow: 2px 2px 20px -4px #000000;
    justify-content: center;
}

.cards_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    max-height: 300px;
    text-align: center;
    box-shadow: 2px 2px 20px -4px #000000;
    justify-content: center;
    padding: 20px;
}


.cards_text h4{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.cards_text p{
    font-size: 20px;
}

.cards .imgCard{
    height: 100%;
    width: 100%;
    background-color: #fff;

}